:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

.bg-primary {
    background-color: var(--bg-color) !important;
}


header {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    z-index: 100;
    background-color: var(--bg-color);
}

p {
    position: relative;
    padding-top: 10px;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.navbar-brand {
    font-weight: 700;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h1 {
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-img img {
    width: 30vw;
    padding-left: 40px;
}

span {
    color: var(--main-color);
}

.social-media a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: .1.5rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: 2rem 1rem 2rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 0.8rem 2.4rem;
    background: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 3rem;
    box-shadow: 0 0 .4rem var(--main-color);
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.about .card {
    background-color: #24292f !important;
    color: var(--text-color);
    border-radius: 0%;
    box-shadow: 0 0 .6rem var(--main-color);
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    overflow: hidden;
}

.about .card h2 {
    color: none;
    padding-bottom: 8px;
    font-weight: 650;
}

.card-body {
    padding-left: 40px;
}

.about-content .card-body i {
    max-width: 50px;
    max-height: 30px;
}

.about-content .card-body p {
    padding-top: 1px;
    text-align: justify;
}

.about-content .card-body .row {
    flex-wrap: nowrap;
}


.projects h1 {
    color: none;
}

.projects .card {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 0%;
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    overflow: hidden;
}

.card .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(9, 250, 235, 0.8827906162464986) 100%);
    opacity: 0;
    transition: 0.5s;
    border-radius: 0.8px;
}

.card:hover .link {
    opacity: 1;
    box-shadow: 1 0 1rem var(--main-color);
}

.card .link i {
    font-size: 30px;
    text-decoration: none;
    transition: 0.3s;
    transform: translateY(20px);
}

.card .link p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 650;
}

.card:hover i {
    transform: translateY(0);
}

.projects .card-body {
    text-align: center;
    padding-left: 16px;
    background-color: white;
    color: black;
}

.projects .card-body h1 {
    font-weight: bolder;
    color: #000;
}
.col-md-4 .row {
    flex-wrap: nowrap;
}



.img-thumbnail {
    max-height: 80px !important;
    max-width: 80px !important;
    padding: 0.25rem !important;
    background-color: var(--bg-color) !important;
    border: 1px solid var(--bg-color) !important;
    border-radius: 0.25rem !important;
    transition: all .2s ease-in-out !important;
}

.tech-stack .row {
    font-size: 22px;
    color: #fff;
    margin-left: 40px;
    margin-top: 20px;
    font-family: Poppins, sans-serif;
}

.tech-stack p {
    text-align: left;
    vertical-align: middle;
    margin-top: 10px;
}

.tech-stack i {
    vertical-align: middle;
}

.tech-stack .col-md-4 .row {
    align-items: center;
    min-width: 212px;
    max-width: 280px;
    margin-left: 0%;
    background-color: #24292f !important;
    transition: transform .3s ease;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.sql {
    height: 104px;
}

.tech-stack .col-md-4 .row img {
    background-color: #24292f !important;
    border-color: #24292f;
    margin: 0;
}

.tech-stack .col-md-4 .row {
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, .07), 0 15px 15px rgba(0, 0, 0, .06), 0 10px 8px rgba(0, 0, 0, .05), 0 4px 4px rgba(0, 0, 0, .04), 0 2px 2px rgba(0, 0, 0, .03);
}

.tech-stack .col-md-4 .row:hover {
    transform: translateY(-8px);
}


.contact form {
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: .8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .4rem 0;
}

.contact form textarea {
    resize: none;
}

.contact form .input-box input {
    width: 49%;
}

.projects,
.tech-stack,
.contact {
    padding-top: 90px;
}


@media(max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .home h3 {
        font-size: 1.3rem;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about .card-body{
        padding-left: 20px;
    }

    .tech-stack .col-md-4 .row {
        min-width: 260px;
    }

    .tech-stack .row {
        margin-left: 0;
        justify-content: center;
    }

    .row>* {
        width: auto !important;
    }

    .contact form .input-box input {
        width: 100%;
    }
}